<div class="row">
  <div class="col-md-12">
    <form>
      <div class="row form-group">
        <div class="col-md-2">
          <label>Name: </label>
        </div>
        <div class="col-md-10">
          <input type="text" class="form-control" name="name" [(ngModel)] = "empData.name">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-2">
          <label>Email: </label>
        </div>
        <div class="col-md-10">
          <input type="text" class="form-control" name="email" [(ngModel)] = "empData.email">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-2">
          <label>Age: </label>
        </div>
        <div class="col-md-10">
          <input type="text" class="form-control" name="age" [(ngModel)] = "empData.age">
        </div>
      </div>

      <div class="row form-group">
          <div class="col-md-offset-10 col-md-1">
            <button class="btn btn-success" (click)="onSave(empData)">Save</button> 
          </div>
          <div class="col-md-1">
              <button class="btn btn-primary" type="reset">Clear</button> 
          </div>
        </div>
        
    </form>

  </div>
</div>