<table class="table table-striped table-bordered ">
  <tr>
    <!-- <th [ngStyle]="{'display':'none'}" [ngClass]="header">Id</th> -->
    <th [ngClass]="{'header':'true'}">Id</th>
    <th [ngClass]="{'header':'true'}">Name</th>
    <th [ngClass]="{'header':'true'}">email</th>
    <th [ngClass]="{'header':'true'}">Age</th>
    <th [ngClass]="{'header':'true'}"  [ngStyle]="{'width':'10%'}"></th>
    <th [ngClass]="{'header':'true'}"  [ngStyle]="{'width':'10%'}"></th>
  </tr>
  <tr *ngFor="let employeeDetails of empList; let i=index;">
    <!-- <td [ngStyle]="{'display':'none'}">{{employeeDetails.id}}</td> -->
    <td>{{employeeDetails.id}}</td>
    <td>{{employeeDetails.name}}</td>
    <td>{{employeeDetails.email}}</td>
    <td>{{employeeDetails.age}}</td>
    <td [ngStyle]="{'width':'10%'}"><button class="btn btn-primary" (click)="onEdit(employeeDetails);">Edit</button></td>
    <td [ngStyle]="{'width':'10%'}"><button class="btn btn-danger" (click) ="onDelete(employeeDetails.id);">Delete</button></td>
  </tr>
</table>